
html {
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body{  
  margin: 0;
  
}


main {
 /*min-width: 320px;*/
  
  
}

.jetbrains-mono, section{
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

main header {
  width: 100vw;
  height: 99px;
  position: relative;

}

header nav {
  
  width: 100vw;
  position: fixed; 
  z-index: 9999;
  left: 0px;
  top: 0px;

}

header nav ul {
  display: flex;  
  border-radius: 0;
  padding: 28px;
  margin: 0px;
  background-color: #181818;
  justify-content: space-evenly;
  align-items: center; 

}

header nav ul li {
  list-style: none;

}

header nav ul li:last-child img {
  display: none;

}


a {
  text-decoration: none;
  color: #d1d1d1;

}

header nav ul li a{
  text-decoration: none;
  color: #d1d1d1;

}

header nav ul li:first-child{
  height: 35px;
  width: 35px;

  img {    
    height: 100%;
    width: 100%; 
  }

  & > a:hover {
    filter: brightness(1.4);
  }
  

}

header nav ul li a:hover{  
  color: white;

}

/*--------------------------PROJECTS---------------------------------------*/

main .projects { 
  display: grid;
  grid-template-rows: repeat(2, 570px);  
  gap: 20px;   
  
  
}

main .projects > div{  
  
  
}

main .projects .first-slide, main .projects .second-slide {
  border-top-style: none;

}

main .projects .first-slide .content-box, main .projects .second-slide .content-box{
  height: 100%;
  background-color: #a8a8d3;

}

main .projects .first-slide .content-box .MES{
  
  width: 100%;
  height: 100%;
  position: relative;  
  background-image: url("images/MES.PNG");
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat; 
  
}


main .projects .first-slide .content-box .MES .text-overlay{
  
  
  color: #181818;
  position: absolute;
  top: 10%;
  left: 48%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;
  min-width: 390px;
  min-height: 80px;    


}

main .projects .first-slide .content-box .MES .text-overlay p, main .projects .second-slide .content-box .CSM .text-overlay p{

  margin: 0px;  
  margin-bottom: 10px;

}

main .projects .first-slide .content-box .MES .text-overlay .click-wrapper, main .projects .second-slide .content-box .CSM .text-overlay .click-wrapper{
  
  text-align: center;  
  
}

main .projects .first-slide .content-box .MES .text-overlay .click-wrapper a .click, main .projects .second-slide .content-box .CSM .text-overlay .click-wrapper a .click{
  
  text-align: center;  
  display: inline;
  font-size: 14px;
  border: 1px solid white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px; 
  border-radius: 980px;
  background-color: rgb(0, 113, 227, 1);
  color: white;
  
}


/*--------Second---Slide---------*/

main .projects .second-slide .content-box .CSM {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("images/SF.png");
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat; 
}

main .projects .second-slide .content-box .CSM .text-overlay{
  
  
  color: #181818;
  position: absolute;
  top: 8.5%;
  left: 48%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;    


}


/*---------------------------EDUCATION------------------------------------*/

main .education {
  display: grid;
  grid-template-rows: repeat(2, 570px);
  gap: 20px;

}

main .education > div {
  

}

main .education .first-slide {
  
}

main .education .first-slide .content-box {
  

}

main .education .first-slide .content-box .binary-code-background {
  width: 100%;
  height: 100%;
  background-image: url("images/coding.jpg");
}

main .education .first-slide .content-box .binary-code-background .skills {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(6, minmax(0, 100px));
  max-height: 100%;
  max-width: 100%;
  
}

main .education .first-slide .content-box .binary-code-background .skills img{
  background-color: white;
  width: 50px;
  height: 50px;
  
}

main .education .first-slide .content-box .binary-code-background .skills img:first-child{
  grid-row: 1 / 4;
  width: 250px;
  height: 350px;
  background-color: transparent;
  
}

main .education .first-slide .content-box .binary-code-background .skills img:nth-child(2){
  grid-column: 2 / 5;
  width: 530px;
  height: 200px;
  background-color: transparent;
  justify-self: center;
  
}

main .education .first-slide .content-box .binary-code-background .skills img:nth-child(3){
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  width: 500px;
  height: 167.9px;
  background-color: transparent;
  justify-self: center;
  
}

main .education .first-slide .content-box .binary-code-background .skills img:nth-child(4){
  grid-column: 3 / 5; 
  grid-row: 5 / 7;
  width: 400px;
  height: 200px;
  background-color: transparent;
  justify-self: right;
  
  
  
}

main .education .first-slide .content-box .binary-code-background .skills img:nth-child(5){
  grid-column: 4 / 5;
  grid-row: 3 / 5;
  width: 161px;
  height: 144px;
  background-color: transparent;
  justify-self: center;
  align-self: center;
  
  
}

main .education .first-slide .content-box .binary-code-background .skills img:nth-child(6){
  grid-column: 1 / 2;
  grid-row: 5 / 7;
  width: 200px;
  height: 200px;
  background-color: transparent;
  justify-self: end;
  align-self: center;
  
}

main .education .first-slide .content-box .binary-code-background .skills img:nth-child(7){
  grid-column: 2 / 4;
  grid-row: 5 / 7;
  width: 200px;
  height: 125px;
  background-color: transparent;
  justify-self: center;
  align-self: center;
  
}



main .education .second-slide {
  border-top-style: none;

}

main .education .second-slide .content-box{
  height: 100%;

}


main .education .second-slide .content-box > a {
  
  display:block;
  height: 570px;  
 
}


main .education .second-slide .content-box a .fiu-library {
  
  height: 100%;
  position: relative;
  background-image: url("images/fiu-library.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  
}


main .education .second-slide .content-box a .fiu-library .text-overlay{
  
  color: #181818;
  position: absolute;
  top: 15%;
  left: 40%;
  transform: translate(-35%, -40%);
  text-align: center;
  font-size: 33px;
  font-weight: bold;    

}

main .education .second-slide .content-box a .fiu-library .text-overlay p{
  
  margin-bottom: 10px;

}

main .education .second-slide .content-box a .fiu-library .text-overlay .abbreviation{
  
  display: none;

}

main .education .second-slide .content-box a .fiu-library .text-overlay .click-wrapper {
  
  text-align: center;  
  
}

main .education .second-slide .content-box a .fiu-library .text-overlay .click-wrapper .click{
  
  text-align: center;  
  display: inline;
  font-size: 14px;
  border: 1px solid white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px; 
  border-radius: 980px;
  background-color: rgb(0, 113, 227, .78);
  color: white;
  
}




/*---------------------------ABOUT-ME------------------------------------*/



main .about-me { 
  display: grid;
  grid-template-rows: repeat(2, 570px);  
  gap: 20px;   
  /*border: 2px solid blue;*/
  padding-top: 20px;
}

main .about-me > div{  
  border: 2px solid black; 
  border-left-style: none;
  border-right-style: none;
  
}

main .about-me .first-slide {
  border-top-style: none;

}

main .about-me .first-slide .content-box{
  height: 100%;

}


main .about-me .first-slide .content-box > a {
  
  width: 100%;
  display:block;
  height: 570px;  
 
}


main .about-me .first-slide .content-box a .dan-tom-mom {
  
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("images/dan-tom-mom.JPEG");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  
}


main .about-me .first-slide .content-box a .dan-tom-mom .text-overlay{
  
  width: 281px;
  color: #181818;
  position: absolute;
  top: 30%;
  left: 48%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;    


}

main .about-me .first-slide .content-box a .dan-tom-mom .text-overlay p{
  
  margin-bottom: 10px;

}


main .about-me .first-slide .content-box a .dan-tom-mom .text-overlay .click-wrapper {
  
  text-align: center;  
  
}

main .about-me .first-slide .content-box a .dan-tom-mom .text-overlay .click-wrapper .click{
  
  text-align: center;  
  display: inline;
  font-size: 14px;
  border: 1px solid white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px; 
  border-radius: 980px;
  background-color: rgb(0, 113, 227, .78);
  color: white;
  
}

/*---------------------CONTACT-INFO--------------------------*/


main .contact-info { 
  display: grid;
  grid-template-rows: repeat(2, 570px);  
  gap: 20px;   
  /*border: 2px solid blue;*/
  
}

main .contact-info > div{  
  border: 2px solid black; 
  border-left-style: none;
  border-right-style: none;
  
}

main .contact-info .first-slide {
  border-top-style: none;

}

main .contact-info .first-slide .content-box{
  height: 100%;

}

/*
main .contact-info .first-slide .content-box > a {
  
  width: 100%;
  display:block;
  height: 570px;  
 
}
*/



main .contact-info .first-slide .content-box .background {
  
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
  
}

main .contact-info .first-slide .content-box .background h1{
  
  
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translateX(-50%);
  
}

/*_______FORM_______*/

main .contact-info .first-slide .content-box .background .text-overlay form{
  width: 350px;
  height: 375px;
  color: #181818;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: normal;   


}

main .contact-info .first-slide .content-box .background .text-overlay fieldset{
  border: 2px dotted black;
  border-radius: 5px; 


}



main .contact-info .first-slide .content-box .background .text-overlay .logo-wrapper{
  
  width: 600px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, 100%); 


}



main .contact-info .first-slide .content-box .background .text-overlay textarea{
  
  max-width: 260px;
  max-height: 240px;
  min-width: 220px;
  min-height: 120px;

}

main .contact-info .first-slide .content-box .background .text-overlay .linkedin-wrapper{
  
  
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  width: fit-content;
  height: 100px;

}

main .contact-info .first-slide .content-box .background .text-overlay .linkedin-wrapper a {
  
  display: flex;
  align-items: center;  
  
}

main .contact-info .first-slide .content-box .background .text-overlay .linkedin-wrapper a img{

  height: 100px;
  width: 100px; 
  margin-right: 20px;
  


}

main .contact-info .first-slide .content-box .background .text-overlay .linkedin-wrapper a p{
  
  text-align: center;

  
}

main .contact-info .first-slide .content-box .background .text-overlay .gmail-wrapper{
  position: absolute;
  bottom: 7;
  right: 0;
  /* transform: translate(-50%, -50%); */
  width: fit-content;
  height: auto;

}

main .contact-info .first-slide .content-box .background .text-overlay .gmail-wrapper a {  
  display: flex;  
  align-items: center;
  
}

main .contact-info .first-slide .content-box .background .text-overlay .gmail-wrapper a img{
  height: 100%;
  width: 100px; 
  margin-right: 20px;  
  
}

/*

@media screen and (max-width: 850px) {
  main .contact-info .first-slide .content-box .background .text-overlay form {
   
  }

  main .contact-info .first-slide .content-box .background .text-overlay .logo-wrapper {
   
  }

  main .contact-info .first-slide .content-box .background .text-overlay .logo-wrapper .linkedin-wrapper {
    
  }

  main .contact-info .first-slide .content-box .background .text-overlay .logo-wrapper .gmail-wrapper {
   
  }
}

*/

@media screen and (max-width: 490px) {
  header nav ul li:not(:first-child):not(:last-child) {
    display: none;
  }

  header nav ul {
    justify-content: space-between;
  }

  header nav ul li:last-child a{
    display: none;
   
  }

  header nav ul li:last-child img{
    display: list-item;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 20px;
   
  }

  

  
}


@media screen and (max-width: 431px) {
  main .projects .first-slide .content-box .MES {
    background-size: 375px auto; /* Image width won't be smaller than 430px */
  }

   main .projects .first-slide .content-box .MES .text-overlay {
    min-width: 200px;
    top: 15%; 
    > p {
        text-align: center;
    
    }
  }

  main .projects .second-slide .content-box .CSM {
    background-size: 375px auto; /* Image width won't be smaller than 430px */
  }

  main .education .second-slide .content-box a .fiu-library .text-overlay .abbreviation {
    display: inline-block;
  }

  main .education .second-slide .content-box a .fiu-library .text-overlay .not-abbr {
    display: none;
  }

  main .contact-info .first-slide .content-box .background .text-overlay .logo-wrapper .linkedin-wrapper .username {
    display: none;
  }

  main .contact-info .first-slide .content-box .background .text-overlay .logo-wrapper .gmail-wrapper .email{
    display: none;
  }

  main .contact-info .first-slide .content-box .background .text-overlay .logo-wrapper {
    width: auto;
    display: flex;
    align-content: center;
    align-items: center;
  } 
  
  main .contact-info .first-slide .content-box .background .text-overlay .logo-wrapper .linkedin-wrapper,
  main .contact-info .first-slide .content-box .background .text-overlay .logo-wrapper .gmail-wrapper {
    position: static;
    width: auto;
    height: auto;
  }

  main .contact-info .first-slide .content-box .background .text-overlay .logo-wrapper img {
    width: 100px;
    height: 100px;
  }
  

}


@media screen and (min-width: 1000px) {
  main .projects .first-slide .content-box .MES {
    background-size: 1000px auto; /* Background image width won't exceed 1000px */
  }
}

@media screen and (min-width: 1000px) {
  main .projects .second-slide .content-box .CSM {
    background-size: 1000px auto; /* Background image width won't exceed 1000px */
  }
}

















