html {
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body{  
  margin: 0;
  
}

main {
  width: 100%;
}

ul, section ,input::placeholder{
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

a {
  color: white;
  text-decoration:none;
}

 a:hover {
  filter: brightness(1.1);
}


main header {
  width: 100%;
  height: 91px;
  position: relative;

}

header nav {
  
  width: 100%;
  position: fixed; 
  z-index: 9999;
  left: 0px;
  top: 0px;

}

header nav ul {
  display: flex;  
  border-radius: 0;
  padding: 28px;
  margin: 0px;
  background-color: #181818;
  justify-content: space-evenly;
  align-items: center; 

}

header nav ul li {
  list-style: none;

}

header nav ul li a{
  text-decoration: none;
  color: #d1d1d1;

}

header nav ul li:first-child{
  height: 35px;
  width: 35px;
 }
  a {
    display: block;
    height: 100%;
    width: 100%;
  }

  header nav li a:hover{
    filter: brightness(1.5);
  
  }

  img {    
    height: 100%;
    width: 100%; 
  }

  
  



header nav ul li a:hover{  
  color: white;

}

header nav ul li:last-child img {
  display: none;

}

main .nav-menu {
  height: 100%;
  width: 130px;
  position: fixed;
  background-color: #181818;
  right: -130px;
  z-index: 9998;
  padding: 0px;
  color: white;
  z-index: 9998;
  transition: right 1s ease;  
  top: 106px;
}

main .nav-menu ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

main .nav-menu ul li{
  
  flex-grow: 1;
  background-color:#7378795e;
  border: 1px solid #181818;
  
  
}

main .nav-menu ul li a{
  align-self: center;
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;
  
}

main .projects, .education, .about-me, .contact-info {
  display: grid;
  gap: 0px;
}

/*--------------------------PROJECTS---------------------------------------*/

main .projects {  
  grid-template-rows: repeat(2,570px);  
  
}


main .projects .first-slide, main .projects .second-slide {
  border-top-style: none;
  height: 100%;

}

main .projects .first-slide .content-box {
  height: 100%;
  background-color: #a8a8d3;

}

main .projects .first-slide .content-box .MES{
  
  width: 100%;
  height: 100%;
  position: relative;  
  background-image: url("images/MES.PNG");
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat; 
  
}


main .projects .first-slide .content-box .MES .text-overlay{
  
  
  color: #181818;
  position: absolute;
  top: 10%;
  left: 48%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;
  min-width: 390px;
  min-height: 80px;    


}

main .projects .first-slide .content-box .MES .text-overlay p, main .projects .second-slide .content-box .CSM .text-overlay p{

  margin: 0px;  
  margin-bottom: 10px;

}

main .projects .first-slide .content-box .MES .text-overlay .click-wrapper, main .projects .second-slide .content-box .CSM .text-overlay .click-wrapper{
  
  text-align: center;  
  
}

main .projects .first-slide .content-box .MES .text-overlay .click-wrapper a .click, main .projects .second-slide .content-box .CSM .text-overlay .click-wrapper a .click{
  
  text-align: center;  
  display: inline;
  font-size: 14px;
  border: 1px solid white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px; 
  border-radius: 980px;
  background-color: rgb(0, 113, 227, 1);
  color: white;
  
}


/*--------Second---Slide---------*/

main .projects .second-slide .content-box{
  height: 100%;
  background-color: #df93d8;
}

main .projects .second-slide .content-box .CSM {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("images/SF.PNG");
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat; 
}

main .projects .second-slide .content-box .CSM .text-overlay{
  
  
  color: #181818;
  position: absolute;
  top: 8.5%;
  left: 48%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;    


}


/*---------------------------EDUCATION------------------------------------*/

main .education {  
  grid-template-rows: repeat(2, 570px);  

}



main .education .first-slide .content-box .binary-code-background {
  width: 100%;
  height: 100%;
  background-image: url("images/coding.jpg");
}

main .education .first-slide .content-box .binary-code-background .skills {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;  
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, minmax(0, 100px));  
  max-height: 100%;
  max-width: 100%;
  
}

main .education .first-slide .content-box .binary-code-background .skills img{
  background-color: white;
  max-width: 100%; /* Image won't be wider than its container */
  max-height: 100%; /* Image won't be taller than its container */
  object-fit: contain;
  
  
}

main .education .first-slide .content-box .binary-code-background .skills img:first-child{
  /*Java*/
  grid-column: 1 / 4;
  grid-row: 1 / 7;
  width: 250px;
  height: 350px;
  background-color: transparent;
  
}

main .education .first-slide .content-box .binary-code-background .skills img:nth-child(2){
  /*HTML-CSS-JS*/
  width: 530px;
  height: 200px;
  grid-column: 4 / 10;
  grid-row: 1 / 4;
  background-color: transparent;
  
  
}

main .education .first-slide .content-box .binary-code-background .skills img:nth-child(3){
  /*React*/
  grid-column: 5 / 10;
  grid-row: 4 / 7;
  width: 500px;
  height: 167.9px;
  background-color: transparent;
  align-self: center;
  
  
}

main .education .first-slide .content-box .binary-code-background .skills img:nth-child(4){
  /*SpringBoot*/
  width: 400px;
  height: 200px;
  background-color: transparent;
  grid-column: 6 / 10;
  grid-row: 6 / 10;
  align-self: end;
  justify-self: end;
  
  
  
  
}

main .education .first-slide .content-box .binary-code-background .skills img:nth-child(5){
  /*PostgreSQL*/
  width: 161px;
  height: 144px;
  background-color: transparent;
  grid-column: 3 / 5;
  grid-row: 5 / 8;
  justify-self: center;
  
  
  
}

main .education .first-slide .content-box .binary-code-background .skills img:nth-child(6){
  /*Kubernetes*/
  width: 200px;
  height: 200px;
  background-color: transparent;
  grid-column: 1 / 3;
  grid-row: 7 / 10;
  align-self: center;
  justify-self: center;
  
  
}

main .education .first-slide .content-box .binary-code-background .skills img:nth-child(7){
  /*NPM*/
  width: 200px;
  height: 125px;
  background-color: transparent;
  grid-column: 3 / 6;
  grid-row: 8 / 10;
  justify-self: center;
  
}



main .education .second-slide {
  border-top-style: none;

}

main .education .second-slide .content-box{
  height: 100%;

}


main .education .second-slide .content-box > a {
  
  display:block;
  height: 570px;  
 
}


main .education .second-slide .content-box a .fiu-library {
  
  height: 100%;
  position: relative;
  background-image: url("images/fiu-library.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  
}


main .education .second-slide .content-box a .fiu-library .text-overlay{
  
  color: #181818;
  position: absolute;
  top: 15%;
  left: 40%;
  transform: translate(-35%, -40%);
  text-align: center;
  font-size: 33px;
  font-weight: bold;    

}

main .education .second-slide .content-box a .fiu-library .text-overlay p{
  
  margin-bottom: 10px;

}

main .education .second-slide .content-box a .fiu-library .text-overlay .abbreviation{
  
  display: none;

}

main .education .second-slide .content-box a .fiu-library .text-overlay .click-wrapper {
  
  text-align: center;  
  
}

main .education .second-slide .content-box a .fiu-library .text-overlay .click-wrapper .click{
  
  text-align: center;  
  display: inline;
  font-size: 14px;
  border: 1px solid white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px; 
  border-radius: 980px;
  background-color: rgb(0, 113, 227, .78);
  color: white;
  
}




/*---------------------------ABOUT-ME------------------------------------*/



main .about-me { 
  display: grid;
  grid-template-rows: 570px;  
  gap: 20px;   
  /*border: 2px solid blue;*/
}

main .about-me .first-slide {
  height: 100%;

}

main .about-me .first-slide .content-box{
  height: 100%;

}

main .about-me .first-slide .content-box > a { 
  width: 100%;
  display:block;
  height: 570px;  
 
}


main .about-me .first-slide .content-box a .dan-tom-mom {
  
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("images/dan-tom-mom.JPEG");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  
}


main .about-me .first-slide .content-box a .dan-tom-mom .text-overlay{
  
  width: 281px;
  color: #181818;
  position: absolute;
  top: 30%;
  left: 48%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;    


}

main .about-me .first-slide .content-box a .dan-tom-mom .text-overlay p{
  
  margin-bottom: 10px;

}


main .about-me .first-slide .content-box a .dan-tom-mom .text-overlay .click-wrapper {
  
  text-align: center;  
  
}

main .about-me .first-slide .content-box a .dan-tom-mom .text-overlay .click-wrapper .click{
  
  text-align: center;  
  display: inline;
  font-size: 14px;
  border: 1px solid rgb(255, 255, 255);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px; 
  border-radius: 980px;
  background-color: rgb(0, 113, 227, .78);
  color: white;
  
}

/*---------------------CONTACT-INFO--------------------------*/


main .contact-info { 
  display: grid;
  grid-template-rows: 570px;  
  gap: 20px;   
  /*border: 2px solid blue;*/
  
}

main .contact-info > div{  
  border: 2px solid black; 
  border-left-style: none;
  border-right-style: none;
  
}

main .contact-info .first-slide {
  border-top-style: none;
  height: 100%;

}

main .contact-info .first-slide .content-box{
  height: 100%;

}


main .contact-info .first-slide .content-box  {
  
  width: 100%;
  display:block;
  height: 570px;  
 
}

main .contact-info .first-slide .content-box .background-container{
  
  height: 100%;
 
}




main .contact-info .first-slide .content-box .background {  
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("images/miami-skyline.png");
  background-size: cover;
  
}

main .contact-info .first-slide .content-box .background h1{  
  height: 31px;
  position: absolute;
  width: 190px;
  left: 50%;
  top: 8%;
  transform: translateX(-50%);
  color: white;  
  margin: 0px;
  
}

.tooltip-icon {
  position: relative;
  display: inline-block;
}

.fa-solid fa-circle-info {
  cursor: pointer;
  color: #007BFF; /* Example color */
}

.tooltip-message {
  font-size: 10px;
  font-weight: normal;
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;

  /* Create the bubble shape */
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 40%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
}

.tooltip-icon:hover .tooltip-message {
  visibility: visible;
  opacity: 1;
}




/*_______FORM_______*/

main .contact-info .first-slide .content-box .background .text-overlay form{
  width: 450px;
  height: 375px;
  color: #181818;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: normal; 
  


}

main .contact-info .first-slide .content-box .background .text-overlay fieldset{  
  height: 100%; 
  width: 100%;   
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: space-evenly;
  background-color: white;  
  box-shadow: 0px 0px 10px 5px purple; 
  
}

main .contact-info .first-slide .content-box .background .text-overlay fieldset .form-group {  
  display: flex;
  flex-direction: column;   
  justify-content: space-around;
  height: 100px;
  width: 200px; 
  
}


main .contact-info .first-slide .content-box .background .text-overlay form fieldset .form-group .credentials {  
  display: flex;  
  justify-content: center; 
  align-items: center; 
  height: 40px;
  border-radius: 5px;
  border: .5px solid rgb(211 196 196 / 88%);
  transition: 250ms box-shadow ease-in-out;

}

main .contact-info .first-slide .content-box .background .text-overlay form fieldset .form-group .credentials .fa-solid.fa-phone{
  
  padding-right: 7px;
  padding-left: 7px;

}

main .contact-info .first-slide .content-box .background .text-overlay form fieldset .form-group .credentials .fa-solid.fa-user{
  
  padding-right: 8px;
  padding-left: 8px;

}

main .contact-info .first-slide .content-box .background .text-overlay form fieldset .form-group .credentials input{  
  height: 23px; 
  width: 160px;   
  border: none;
  padding: 0;
  outline: none;

}


main .contact-info .first-slide .content-box .background .text-overlay fieldset .textarea-and-send {
  display: flex;
  width: auto;
  height: 170px;
  gap:20px;
  align-items: center;
  justify-content: space-between;
}

main .contact-info .first-slide .content-box .background .text-overlay fieldset .textarea-and-send .send .send{
  
  border: 0.3px solid black;
  background-color: rgb(0, 113, 227, .78);
  height: 40px;
  width: 70px;
  border: none;
  border-radius: 980px;

}

main .contact-info .first-slide .content-box .background .text-overlay fieldset .textarea-and-send .send .send p{ 
  color: white;

}

main .contact-info .first-slide .content-box .background .text-overlay fieldset .textarea-and-send textarea{ 
  outline: none;
  transition: 250ms box-shadow ease-in-out;

}

main .contact-info .first-slide .content-box .background .text-overlay form fieldset .textarea-and-send .label-and-ta textarea{
  border-radius: 5px;
  max-width: 260px;
  max-height: 142px;
  min-width: 220px;
  min-height: 120px;
  border: .5px solid rgb(211 196 196 / 88%);
 
}


main .contact-info .first-slide .content-box .background .text-overlay form fieldset .socials {
  width: 190px;
  height: auto;
  display: flex;
  justify-content: space-evenly;

}

main .contact-info .first-slide .content-box .background .text-overlay form fieldset .socials a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;

}

main .contact-info .first-slide .content-box .background .text-overlay form fieldset .socials i {
 font-size: 25px;
 color: white;

}

main .contact-info .first-slide .content-box .background .text-overlay form fieldset .socials .linkedin{
  background-color: #1d74cb;

}

main .contact-info .first-slide .content-box .background .text-overlay form fieldset .socials .x{
  background-color: #121212;

}

main .contact-info .first-slide .content-box .background .text-overlay form fieldset .socials .gmail{
  background-color: #eb4436;

}



/*---------MEDIA QUERIES---------*/
@media screen and (max-width: 460px){

main .contact-info .first-slide .content-box .background .text-overlay form{  
  height: 80%; 
  width: 90%;   
  top: 55%;
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: space-evenly;
  background-color: white;  
  box-shadow: 0px 0px 10px 5px purple; 
  
  
}  

main .contact-info .first-slide .content-box .background .text-overlay fieldset{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 10px 5px purple;
  justify-content: space-evenly;
}

  body > main > section.contact-info > div > div > div:nth-child(1) > div > div > form > fieldset > div.textarea-and-send {
    flex-direction: column;
    gap: 0px;
  }

}


@media screen and (max-width: 600px) {
  header nav ul li:not(:first-child):not(:last-child) {
    display: none;
  }

  header nav ul {
    justify-content: space-between;   
    
  }

  header nav ul li:last-child img{
    display: list-item;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 20px;
   
  }

  .nav-menu.active {
    
    right: 0;
  }

 
}


@media screen and (max-width: 431px) {
  main .projects .first-slide .content-box .MES {
    background-size: 375px auto; /* Image width won't be smaller than 430px */
  }

   main .projects .first-slide .content-box .MES .text-overlay {
    min-width: 200px;
    top: 15%; 
    > p {
        text-align: center;
    
    }
  }

  main .projects .second-slide .content-box .CSM {
    background-size: 375px auto; /* Image width won't be smaller than 430px */
  }

  main .education .second-slide .content-box a .fiu-library .text-overlay .abbreviation {
    display: inline-block;
  }

  main .education .second-slide .content-box a .fiu-library .text-overlay .not-abbr {
    display: none;
  }

  main .contact-info .first-slide .content-box .background .text-overlay .logo-wrapper img {
    width: 100px;
    height: 100px;
  }

main .education .first-slide .content-box .binary-code-background .skills img:nth-child(4) {
    /*Springboot*/
    grid-column: 4 / 10;
    grid-row: 5 / 8;

  }

 
/*
  main .education .first-slide .content-box .binary-code-background .skills img:nth-child(2) {
    html
    
  
*/

  main .education .first-slide .content-box .binary-code-background .skills img:nth-child(3) {
    /*React*/
    grid-column: 4 / 10;
    grid-row: 3 / 6;

  }

  main .education .first-slide .content-box .binary-code-background .skills img:nth-child(5) {
    /*PSQL*/
    grid-column: 1 / 4;
    grid-row: 6 / 8;

  }

  main .education .first-slide .content-box .binary-code-background .skills img:nth-child(6) {
    /*Kubernetes*/
    grid-column: 1 / 4;
    grid-row: 8 / 10;
    align-self: center;
    justify-self: end;    

  }
  

  main .education .first-slide .content-box .binary-code-background .skills img:nth-child(7) {
    /*npm*/
    grid-column: 5 / 9;
    grid-row: 8 / 10;

    
  }

}


@media screen and (min-width: 1000px) {
  main .projects .first-slide .content-box .MES {
    background-size: 1000px auto; /* Background image width won't exceed 1000px */
  }
}

@media screen and (min-width: 1000px) {
  main .projects .second-slide .content-box .CSM {
    background-size: 1000px auto; /* Background image width won't exceed 1000px */
  }
}




